# Virtual environment
venv/
env/
.venv/


# Python specific
*.pyc
__pycache__/
.pytest_cache/
*.pyo
*.pyd
.Python
*.pkl
*.db

# IDE settings
.vscode/
.idea/

# Environment variables
.env
*.env

# Database
*.sqlite3
*.db

# Alembic migrations
migrations/
alembic/versions/

# OS files
.DS_Store
Thumbs.db
